<?xml version="1.0" encoding="utf-8"?>
<CodeSnippets xmlns="http://schemas.microsoft.com/VisualStudio/2005/CodeSnippet">
  <CodeSnippet Format="1.0.0">
    <Header>
      <Title>Test AAA Pattern</Title>
      <Description>Create the template for basic AAA pattern</Description>
      <Author>Nicolas Bourré</Author>
      <Shortcut>aaa</Shortcut>
    </Header>
    <Snippet>
      <Code Language="CSharp">
        <![CDATA[/// Arrange
        // var obj = new Object{};
        
        // var expected = 0.0F;
        
        /// Act
        // var actual = Class.Method(obj);
        
        /// Assert
        // Assert.Equal(expected, actual);
        ]]>
      </Code>
    </Snippet>
  </CodeSnippet>
</CodeSnippets>
